{% extends "layout.html" %}

{% block content %}
	<div class="pure-g">
		<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
			<img src="static/livingston.jpg" alt="Livingston">
			<aside class="photo-box-caption">
				<span>Livingston, Montana</span>
			</aside>
		</div>
		<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
			<img src="static/pizza.jpg" alt="Homemade Pizza">
			<aside class="photo-box-caption">
				<span>Homemade Pizza</span>
			</aside>
		</div>
		<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
			<img src="static/horses.jpg" alt="Big Bend National Park">
			<aside class="photo-box-caption">
				<span>Big Bend National Park</span>
			</aside>
		</div>
		<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
			<img src="static/milwaukee.jpg" alt="Milwaukee, Wisconsin">
			<aside class="photo-box-caption">
				<span>Milwaukee Wisconsin</span>
			</aside>
		</div>
		<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
			<img src="static/farmer.JPG" alt="Novice Farmer">
			<aside class="photo-box-caption">
				<span>Novice Farmer</span>
			</aside>
		</div>
		<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
			<img src="static/lake.jpg" alt="Absaroka Beartooth Wilderness">
			<aside class="photo-box-caption">
				<span>Absaroka Beartooth Wilderness</span>
			</aside>
		</div>
		<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
			<img src="static/lisbon.jpg" alt="Lisbon, Connecticut">
			<aside class="photo-box-caption">
				<span>Lisbon, Connecticut</span>
			</aside>
		</div>
		<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
			<img src="static/fcr.JPG" alt="Flower City Rowing">
			<aside class="photo-box-caption">
				<span>Flower City Rowing</span>
			</aside>
		</div>
		<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
			<img src="static/banjo.jpg" alt="Banjo Master">
			<aside class="photo-box-caption">
				<span>Banjo Master</span>
			</aside>
		</div>
	</div>
{% endblock content %}
